@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.detail-grid{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.car_img img
{
    width: 598px;
}
.car-header
{
    display: flex;
    justify-content: center;
}

.car-text
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;
    color: #0C0C0C;
    margin-right: 69px;
    margin-left: 20px;
}

.car-price{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 66px;
    color: #0C0C0C;
    margin-left: 75px;
}

.car-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    Width :422px;
    margin-left: 20px;
    color: #999999;
}
.car-options
{
    margin-top: 39px;
    display: grid;
    grid-template-columns: repeat(2,15rem );
    justify-content: flex-start;
    gap: 30px 1px ;
    margin-left: 20px;

}
.car-elements
{
 width: 100%;
}

.car-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.back-link
{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    flex: 1;
    color: #000;
    margin-right: 180px;
}
.Buy-button-details
{
    width: 213px;
    height: 48px;
    background: #F8CD57;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.car-element-aligment
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
 span
{
    margin-left: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    width: 163px;
    flex:1;
}
.back-link-flex
{
    display: flex;
    justify-content: center;
    align-items:center;
}