@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
}

/* Desktop Responsive */
nav
{
    margin-top: 20px;
}
.nav-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.logo img
{
    width: 115px;
    height: 41px;
    
    
}

.nav-element
{
    text-decoration: none;
    margin-right: 56px;
}
.nav-element:first-child {
    margin-right: auto;
    margin-left: 4%;
  }

  .shop-button
  {
    width: 154px;
    height: 48px;
    background: #F8CD57;
    border: none;
    margin-right: 4%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
  }
.nav-container a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
 } 
 /* Home section */
 .home
 {
     background-image:url("./images/background-section1.png");
    
     min-height: 787px;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: -100px;
  
 }

 .text-home h1
 {
     color: white;
     font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    padding-top: 16%;
    margin-left: 4%;
 }

 .search-btn
 {
    width: 237px;
    height: 64px;
    background: #F8CD57;
    border: none;
    margin-left: 8px;
 }
 .search-input
 {
    width: 564px;
    height: 64px;
    padding-left: 80px;
    
 }
 .search-input::placeholder
 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #BBBBBB;
    
 }
 .search-container
 {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 184px;  
     
 }
.offers
{

    background: linear-gradient(180deg, rgba(12, 12, 12, 0) 0%, #0C0C0C 32.54%, #0C0C0C 100%);
    height:817px;
    margin-top: -330px;
} 
.offers-title
{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
    color: #FFFFFF;
    padding-top: 314px;
}

.title-offers
{
    display: flex;
    justify-content: center;
    align-items: center;
}
