<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Car2Go - Contact</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="./fontawesome.css">
    <link rel="stylesheet" href="./shop.css">
    

  </head>

  <body>

    <header class="">
      {% include 'shared/navbar.html.twig' %}
    </header>
    <div class="st">
        <style>
            .st{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            strong{
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2%;
                font-size: 4rem;
                text-align: center;
            }
            p{
                margin-top: 2%;
                width: 70%;
                text-align: center;
                line-height: 30px;
                font-size: 2rem;
                font-weight: 250;
            }
            @media (max-width: 768px) {
                svg{
                    margin-top: 10%;
                }
                strong{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        </style>
        <svg width="130" height="130" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_49_50)">
            <path d="M100.982 22.6243L84.5103 39.0449L74.6425 29.2116L91.1139 12.7971C81.9286 8.32832 69.0443 8.31004 61.417 15.915C54.2426 23.065 53.3468 34.3202 56.8385 43.1744L20.2252 79.4972C19.998 79.7237 19.8177 79.9928 19.6947 80.289C19.5716 80.5853 19.5083 80.903 19.5083 81.2238C19.5083 81.5446 19.5716 81.8623 19.6947 82.1585C19.8177 82.4548 19.998 82.7239 20.2252 82.9503L30.8426 93.5352C31.069 93.7624 31.3381 93.9427 31.6344 94.0658C31.9307 94.1888 32.2483 94.2521 32.5691 94.2521C32.8899 94.2521 33.2076 94.1888 33.5039 94.0658C33.8002 93.9427 34.0693 93.7624 34.2957 93.5352L70.8582 56.8711C79.6251 60.1638 90.7645 59.2355 97.8211 52.1993C105.438 44.5922 105.422 31.8177 100.982 22.6243Z" fill="#C4C4C4"/>
            <path d="M74.2318 62.6885L59.6414 77.3135L74.9834 93.5472C75.1866 93.7634 75.4313 93.9364 75.7028 94.0559C75.9743 94.1755 76.2671 94.2392 76.5638 94.2431C76.8604 94.2471 77.1549 94.1913 77.4295 94.0791C77.7041 93.9669 77.9533 93.8005 78.1623 93.5899L90.3498 81.3089C90.5582 81.0978 90.7225 80.8472 90.833 80.5718C90.9436 80.2965 90.9982 80.0019 90.9937 79.7052C90.9891 79.4085 90.9255 79.1157 90.8066 78.8439C90.6877 78.572 90.5158 78.3266 90.301 78.1219L74.2318 62.6885Z" fill="#C4C4C4"/>
            <path d="M24.172 43.0627C24.172 42.0735 23.3595 41.1676 22.6587 40.4668L22.608 40.418L22.2951 40.1194C22.2757 40.0974 22.261 40.0716 22.2519 40.0436C22.2428 40.0157 22.2396 39.9862 22.2423 39.9569C22.8299 39.6261 23.5051 39.4843 24.1761 39.5507C24.434 39.5771 25.3765 39.7335 26.6948 40.548C27.3814 40.9725 33.3228 46.6885 35.6181 48.8152C35.2155 49.2361 34.9932 49.7976 34.9985 50.38C35.0039 50.9624 35.2364 51.5197 35.6465 51.9332L37.1558 53.5298L50.493 40.2921L48.8172 38.6996C48.4052 38.2878 47.8472 38.0554 47.2648 38.0531C46.6823 38.0508 46.1225 38.2788 45.7073 38.6874C41.0355 33.6743 39.8167 31.4866 39.4105 30.0647C38.5126 26.9224 40.2514 24.3772 42.2542 22.7522C43.4405 21.8138 45.8861 21.111 48.1448 20.9241C48.933 20.8777 49.7239 20.9185 50.5031 21.046C51.208 21.1475 51.7828 21.2775 52.0042 21.3303C52.7708 21.5369 53.5183 21.8088 54.2386 22.1428L56.6761 18.2835C55.9235 16.9754 55.009 15.7674 53.9542 14.6882C53.6312 14.351 53.2819 14.0036 52.9 13.6522C51.3197 12.1999 47.2125 9.75221 41.8114 9.75221C38.6921 9.74878 35.6024 10.3575 32.7175 11.5438C25.1125 14.6597 20.1481 18.9071 17.867 21.1618L17.8528 21.176C16.32 22.7164 14.9017 24.3668 13.6095 26.1139C12.5228 27.6435 12.6406 29.3314 12.7198 30.4486C12.7198 30.5136 12.7198 30.5847 12.734 30.6518C12.0971 30.1904 11.3309 29.9416 10.5444 29.9408C10.0572 29.9375 9.57423 30.0315 9.1239 30.2174C8.67357 30.4034 8.26494 30.6774 7.92202 31.0235L0.406394 38.5168C0.147897 38.7754 0.00268555 39.1261 0.00268555 39.4918C0.00268555 39.8574 0.147897 40.2081 0.406394 40.4668L13.2033 53.219C13.4592 53.4747 13.8063 53.6184 14.1681 53.6184C14.53 53.6184 14.877 53.4747 15.133 53.219L22.6608 45.7033C23.3595 45.0046 24.172 44.0499 24.172 43.0627Z" fill="#C4C4C4"/>
            </g>
            <defs>
            <clipPath id="clip0_49_50">
            <rect width="104" height="104" fill="white"/>
            </clipPath>
            </defs>
        </svg>
        <strong>We’re updating this page for you.</strong>
        <p>We apologize for any inconvenience this may have caused. 
            Please check back soon.</p>
    </div>
 
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
